<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script type = "text/javascript" src="../JS/ConvertionScript.js"></script>
    <style>
        h2 {text-align: center;}
        form {background-color: lightgrey; }
        div {text-align: center;}
    </style>
    <meta charset="UTF-8">
    <title>Converter</title>
</head>
<body>
<form>
    <br>
    <h2>Конвертер валют</h2>
    <div>
        <select name="fromValute" id="fromValute" style="margin: 20px; width: 225px">
            <option th:each="currency : ${allCurrencies}" th:value="${currency}" th:label = "${currency.name}"></option>
        </select>
        <select name="toValute" id="toValute" style="margin: 20px; width: 225px">
            <option th:each="currency : ${allCurrencies}" th:value="${currency}" th:label = "${currency.name}"></option>
        </select>
        <br>
        <input type="text" name="fromAmount" id="fromAmount" style="margin: 20px">
        <input type="text" name="toAmount" id="toAmount" style="margin: 20px">
        <br>
        <button type="button" style="background-color: gray; width: 225px; margin: 20px" onclick="convert();">Конвертировать</button>
    </div>
</form>

</body>
</html>