<!DOCTYPE html>
<meta charset="windows-1251">
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <style>
        h2 {text-align: center;}
        form {background-color: lightgrey; }
        div {text-align: center;}
    </style>
    <title>Converter</title>
</head>

<body>
<form th:action="@{/}" th:method="POST" th:object="${operation}">
    <h2 style="padding-top: 30px">Конвертер валют</h2>

    <hr>

    <div>
        <select th:field="*{fromCurrency}" name="fromValute" id="fromValute" style="margin: 20px; width: 225px">
            <option th:each="currency : ${allCurrencies}" th:nominal ="${currency.nominal}" th:weight="${currency.value}" th:label = "${currency.name}" th:value = "${currency.name}"></option>
        </select>

        <select th:field="*{toCurrency}" name="toValute" id="toValute" style="margin: 20px; width: 225px">
            <option th:each="currency : ${allCurrencies}" th:nominal ="${currency.nominal}" th:weight="${currency.value}" th:label = "${currency.name}" th:value = "${currency.name}"></option>
        </select>

        <br>

        <input th:field="*{sum}" type="text" name="fromAmount" id="fromAmount" style="margin: 20px">
        <input th:field="*{result}" type="text" name="toAmount" id="toAmount" style="margin: 20px">

        <br>

        <button type="submit" style="background-color: gray; width: 225px; margin: 20px" onclick="conversionIntoDB();">Конвертировать</button>
    </div>
</form>

<form>
    <h2 style="padding-top: 25px">История</h2>

    <div>
        <hr>Выберете дату операции</hr>

        &emsp;

        <input onchange="generateTable()" type="date" name="operationDate" id = "operationDate">

        <br>
    </div>
    <table>
        <tr>
            <th>Исходная валюта</th>
            <th>Целевая валюта</th>
            <th>Исходная сумма</th>
            <th>Полученная сумма</th>
        </tr>
    </table>

</form>

<script type = "text/javascript" th:src="@{/js/big.js}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<script type = "text/javascript">
    function conversionIntoDB(){
        let sumToConvert = document.getElementById("fromAmount").value;

        if (!checkValidation(sumToConvert)) return;

        const ROUNDING = 10000;

        sumToConvert = new Big(sumToConvert);

        let fromValute = document.getElementById("fromValute");
        let toValute = document.getElementById("toValute");

        let fromNominal = new Big(fromValute.options[fromValute.selectedIndex].attributes.getNamedItem("nominal").value);
        let fromValue = new Big(fromValute.options[fromValute.selectedIndex].attributes.getNamedItem("weight").value);
        let toNominal = new Big(toValute.options[toValute.selectedIndex].attributes.getNamedItem("nominal").value);
        let toValue = new Big(toValute.options[toValute.selectedIndex].attributes.getNamedItem("weight").value);

        let fromUnit = fromValue / fromNominal;
        let toUnit = toValue / toNominal;

        document.getElementById("toAmount").value = Math.floor(fromUnit * sumToConvert / toUnit * ROUNDING) / ROUNDING;
    }

    function checkValidation(sumToConvert){
        let regexp = /(^\d{1,11}[.,]\d{1,4}$)|(^\d{1,11}$)/

        return regexp.test(sumToConvert);
    }
</script>

<script type = "text/javascript">
    function generateTable() {
        let opDate = document.getElementById("operationDate").value;
        let text = $.get("/dog", {"date": opDate});
        console.log(text);
        // creates a <table> element and a <tbody> element
        const tbl = document.createElement("table");
        const tblBody = document.createElement("tbody");

        // creating all cells
        for (let i = 0; i < 4; i++) {
            // creates a table row
            const row = document.createElement("tr");

            for (let j = 0; j < 2; j++) {
                // Create a <td> element and a text node, make the text
                // node the contents of the <td>, and put the <td> at
                // the end of the table row
                const cell = document.createElement("td");
                const cellText = document.createTextNode(`cell in row ${i}, column ${j}`);
                cell.appendChild(cellText);
                row.appendChild(cell);
            }

            // add the row to the end of the table body
            tblBody.appendChild(row);
        }

        // put the <tbody> in the <table>
        tbl.appendChild(tblBody);
        // appends <table> into <body>
        document.body.appendChild(tbl);
        // sets the border attribute of tbl to '2'
        tbl.setAttribute("border", "2");
    }
</script>
</body>
</html>