<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h2 {text-align: center; color: black}
        form {color: gray; background-color: lightgrey}
        fieldset {text-align: center;}
    </style>
    <meta charset="UTF-8">
    <title>Converter</title>
</head>
<body>
<form>
    <h2>Конвертер валют</h2>
    <fieldset>
        <select name="fromValue" id="fromValue" style="margin: 20px">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
        <select name="toValue" id="toValue" style="margin: 20px">>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
    </fieldset>

</form>

</body>
</html>